#Conteúdo
##Subtitulo

`> Aprendendo a útilizar comandos como: *Print*, *Type* e *Input*`

#Visualização de Variaveis e textos

In [ ]:
print('Conhecendo o comando Print')

x = 8
print(x)

Conhecendo o comando Print
8

In [ ]:
y = 10
soma = x + y
print(soma)

18

In [ ]:
nome = 'Rodrigo Rebouças'
print(nome)

Rodrigo Rebouças

 > `Concatenação`

In [ ]:
x = 5
print('O valor de x é', x)

O valor de x é 5

In [ ]:
print('O valor de x é', x, 'e o dobro é', x * 2)

O valor de x é 5 e o dobro é 10

In [ ]:
print('Eu,', nome,'tirei', x, 'na prova de Python') #vermelho - texto no print || preto variavel declarada

Eu, Rodrigo Rebouças tirei 5 na prova de Python

In [ ]:
y = 10; z = 20 + x - y
print('Declarar várias variáveis na mesma linha: ' 'Y =', y,'Z =', z)

Declarar várias variáveis na mesma linha: Y = 10 Z = 15

> `Type`

In [ ]:
x = 10
type(x)
print('x', type(x))

nome = 'Rodrigo Rebouças'
print(nome, type(nome))

num = '100'
num_convert = int(num)
print('num_convert', type(num_convert))

num_flot = float(num)
print('num_float', num_flot)

> `Input`


*   Armazenar a informação digitada pelo usuário em uma variável
*   O dado armazenado sempre sera um texto

In [ ]:
nome = input('Digite o nome do usuário ') #aguardar o usuario digitar algo
print(nome)

Digite o nome do usuário Jacquelline
Jacquelline

In [ ]:
valor = input('Digite a nota ')
print(nome, 'sua noita foi: ', valor )

Digite a nota 5,5
Jacquelline sua noita foi:  5,5

In [ ]:
valor = input('Digite o valor do produto: ')
print('R$', valor,'.00')

Digite o valor do produto: 150
R$ 150 .00

In [ ]:
desconto = valor - 5 #erro ja esperado pq estamos trabalhando com strig e precisa converter codigo abaixo

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
valor_convet = float(valor)
desconto = valor_convet - 5
print(desconto)

145.0

In [ ]:
desconto = int(valor) - 5
print(desconto)

145

> `Testar exemplos de modelo`

In [ ]:
nome = input('Digite seu nome:')
idade = input("Digite sua idade: ")
cidade = input('Cidade em que mora: ')
curso = input('Digite seu curso: ')
print('Ola, me chamo', nome, 'tenho', idade, 'anos, moro na cidade de ',cidade, 'atualmente estou cursando', curso)

Digite seu nome:Jacquelline Rodrigues
Digite sua idade: 33
Cidade em que mora: São Paulo
Digite seu curso: Analista de Sistemas
Ola, me chamo Jacquelline Rodrigues tenho 33 anos, moro na cidade de  São Paulo atualmente estou cursando Analista de Sistemas

>>> `CONSEGUI!!!! ❤`